/* ==========================================================================
   Accessibility friendly styles
   ========================================================================== */

.skip {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
	left: 10px;
	top: 4px;
	height: auto;
	overflow: visible;
	outline: 5px auto #b24626;
	background-color: #b24626;
	padding: 15px;
	width: 125px;
	text-align: center;
	color: #fff;
	font-weight: 500;
}

/* ==========================================================================
   Bootstrap resets and generic classes
   ========================================================================== */

.image-link:hover,
.image-link:active,
.image-link:focus{
	text-decoration: none;
}

body{
	font-family: 'OpenSans';
}

a, .link{
	color: #278998;
	text-decoration: none;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

a:active, a:focus, a:hover, .link:active, .link:focus, .link:hover{
	border-color: #17525b;
	color: #17525b;
}

a:active, a:hover{
	outline: 0;
	text-decoration: none;
}

ul{
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.font-light{
	font-weight: 300;
}

.font-semibold{
	font-weight: 500;
}

.font-bold{
	font-weight: 600;
}

.font-extrabold{
	font-weight: 700;
}

.btn{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 75%;
	line-height: 2;
	padding: 0 2.5em;
	background-color: #278998;
	border: 2px solid #278998;
	color: #fff;
	border-radius: 100px;
	font-family: "OpenSans",Helvetica,Arial,sans-serif;
	font-weight: 600;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	vertical-align: initial;
}

.btn:active, .btn:focus, .btn:hover{
	background-color: #206f7c;
	border-color: #206f7c;
	color: #fff;
}

.btn-dark{
	background-color: #1d646f;
	border: 2px solid #1d646f;
	color: #fff;
}

.btn-dark:active, .btn-dark:focus, .btn-dark:hover {
  background: #1b5d67;
  border-color: #1b5d67;
  color: #fff;
}

.form-control{
	border-radius: 3px;
	border: 2px solid #d9d7d5;
	box-sizing: border-box;
	font-size: 1em;
	padding: 0.625em;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	width: 100%;
	-webkit-appearance: none;
	box-sizing: border-box;
	height: 45px;
}

.form-control{
	border-radius: 3px;
	border: 2px solid #d9d7d5;
	box-sizing: border-box;
	font-size: 1em;
	padding: 0.625em;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	width: 100%;
	-webkit-appearance: none;
	box-sizing: border-box;
}

.form-control:focus{
	border-color: #278998;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(73,189,148,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(73,189,148,.6);
}


label{
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 0.3125em;
	color: #585a5b;
}

span.fa-stack.fa-lg{
	margin-right: -4px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (min-resolution: 1.25dppx),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}