/* FONTS & TYPOGRAPHY
-------------------------------------------------- */
@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Light.eot?') format('eot'),
		url('./../fonts/OpenSans-Light.woff') format('woff'),
		url('./../fonts/OpenSans-Light.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Light.eot?') format('eot')\9;
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Regular.eot?') format('eot'),
		url('./../fonts/OpenSans-Regular.woff') format('woff'),
		url('./../fonts/OpenSans-Regular.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Regular.eot?') format('eot')\9;
}

@font-face {
  font-weight: 500;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Semibold.eot?') format('eot'),
		url('./../fonts/OpenSans-Semibold.woff') format('woff'),
		url('./../fonts/OpenSans-Semibold.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Semibold.eot?') format('eot')\9;
}

@font-face {
	font-weight: 600;
	font-family: 'OpenSans';
	src:  url('./../fonts/OpenSans-Bold.eot?') format('eot'),
	url('./../fonts/OpenSans-Bold.woff') format('woff'),
	url('./../fonts/OpenSans-Bold.ttf') format('truetype');
	src /*\**/: url('./../fonts/OpenSans-Bold.eot?') format('eot')\9;
}

@font-face {
	font-weight: 700;
	font-family: 'OpenSans';
	src:  url('./../fonts/OpenSans-ExtraBold.eot?') format('eot'),
	url('./../fonts/OpenSans-ExtraBold.woff') format('woff'),
	url('./../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	src /*\**/: url('./../fonts/OpenSans-ExtraBold.eot?') format('eot')\9;
}

/* HEADER STYLES
-------------------------------------------------- */

header{
	background-color: #FFF;
}

header .navbar-logo-container img{
	width: 200px;
}

header nav .navbar{
	list-style: none;
	margin-top: 15px;
	padding-top: 10px;
}

header nav .navbar li{
	display: inline-block;
	margin: 0 15px;
}

header nav .navbar li a{
	color: #aaa;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
}

header nav .navbar li a:hover,
header nav .navbar li a:active,
header nav .navbar li a:focus{
	color: #585a5b;
}

header nav .navbar li.sign-up a{
	color: #fff;
	font-weight: 500;
}

/* FOOTER STYLES
-------------------------------------------------- */

footer{
	background: #2d3033;
	color: #a5a6a7;
	padding: 35px 0;
}

footer .left-container{
	display: inline-block;
	width: 45%;
	margin-left: 2.5%;
	margin-right: -4px;
	vertical-align: bottom;
}

footer .left-container a{
	color: #a5a6a7;
}

footer .left-container a:hover,
footer .left-container a:active,
footer .left-container a:focus{
	color: #fff;
	text-decoration: none;
}

footer .left-container .links-wrapper{
	margin-bottom: 55px;
}

footer .left-container .links-wrapper nav{
	display: inline-block;
	margin-right: 55%;
	vertical-align: middle;
}

footer .left-container .links-wrapper nav li:first-child{
	font-weight: 600;
}

footer .left-container .links-wrapper .social-media-links{
	display: inline-block;
	vertical-align: middle;
}

footer .right-container{
	display: inline-block;
	width: 50%;
	margin-left: 2.5%;
	vertical-align: bottom;
	border-left: 1px solid #a5a6a7;
	padding-left: 50px;
}

footer .right-container img.logo{
	width: 300px;
	display: block;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.7);
}

/* HOME STYLES
-------------------------------------------------- */

#content.home .presentation{
	background-color: #278998;
	padding-top: 30px;
	padding-bottom: 75px;
}

#content.home .presentation .page-header{
	margin-top: 0;
	color: #fff;
	border-bottom: none;
}

#content.home .presentation .page-header h1{
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 10px;
}

#content.home .presentation .page-header p{
	font-size: 18px;
	font-style: italic;
	color: rgba(255,255,255,0.7);
}

#content.home .presentation .presentation-info-cont .lead{
	color: #fff;
	margin-bottom: 30px;
}

#content.home .presentation .presentation-info-cont .courses-link{
	margin-bottom: 40px;
}

#content.home .presentation .presentation-info-cont .courses-link a{
	font-size: 16px;
	font-weight: 500;
}

#content.home .presentation .presentation-info-cont .links{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

#content.home .presentation .presentation-info-cont .links .label{
	display: inline;
	padding: 0.5em 1em .8em;
	font-size: 75%;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	border-radius: 0.5em;
	margin: 0 2px;
}

#content .courses{
	padding: 50px 0;
}

#content .courses .wrapper{
	width: 85%;
	margin: 0 auto;
}

#content .courses .course-card{
	display: inline-block;
	width: 30.33333%;
	margin-left: 1.5%;
	margin-right: calc( 1.5% - 3px );
	background-color: #fff;
	padding: 25px 15px;
	text-align: center;
	color: #585a5b;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	margin-top: 30px;
	margin-bottom: 30px;
	vertical-align: top;
	position: relative;
	min-height: 390px;
	padding-bottom: 70px;
}

#content .courses .course-card .logo img{
	width: 120px;
}

#content .courses .course-card .title{
	margin-top: 15px;
	font-size: 20px;
	font-weight: 600;
}

#content .courses .course-card .link-cont{
	font-size: 17px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 25px;
}

/* SIGN UP / SIGN IN STYLES
-------------------------------------------------- */

#content.signup{
	border-top: 1px solid rgba(0,0,0,0.07);
	padding-top: 20px;
}

#content.signup h1{
	font-size: 34px;
	font-weight: 600;
	color: #393d40;
}

#content.signup .submit-container{
	text-align: center;
	font-size: 17px;
	text-transform: uppercase;
	margin-top: 30px;
}

#content.signup button.submit{
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 3.5em;
	line-height: 2.8;
}

#content.signup .other-form-link{
	margin-top: 20px;
}