/* FONTS & TYPOGRAPHY
-------------------------------------------------- */
@font-face {
  font-weight: 300;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Light.eot?') format('eot'),
		url('./../fonts/OpenSans-Light.woff') format('woff'),
		url('./../fonts/OpenSans-Light.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Light.eot?') format('eot')\9;
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Regular.eot?') format('eot'),
		url('./../fonts/OpenSans-Regular.woff') format('woff'),
		url('./../fonts/OpenSans-Regular.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Regular.eot?') format('eot')\9;
}

@font-face {
  font-weight: 500;
  font-family: 'OpenSans';
  src:  url('./../fonts/OpenSans-Semibold.eot?') format('eot'),
		url('./../fonts/OpenSans-Semibold.woff') format('woff'),
		url('./../fonts/OpenSans-Semibold.ttf') format('truetype');
  src /*\**/: url('./../fonts/OpenSans-Semibold.eot?') format('eot')\9;
}

@font-face {
	font-weight: 600;
	font-family: 'OpenSans';
	src:  url('./../fonts/OpenSans-Bold.eot?') format('eot'),
	url('./../fonts/OpenSans-Bold.woff') format('woff'),
	url('./../fonts/OpenSans-Bold.ttf') format('truetype');
	src /*\**/: url('./../fonts/OpenSans-Bold.eot?') format('eot')\9;
}

@font-face {
	font-weight: 700;
	font-family: 'OpenSans';
	src:  url('./../fonts/OpenSans-ExtraBold.eot?') format('eot'),
	url('./../fonts/OpenSans-ExtraBold.woff') format('woff'),
	url('./../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	src /*\**/: url('./../fonts/OpenSans-ExtraBold.eot?') format('eot')\9;
}

/* HEADER STYLES
-------------------------------------------------- */

header{
	background-color: #FBFBFB;
}

header .navbar-logo-container img{
	width: 200px;
}

header nav .navbar{
	list-style: none;
	margin-top: 15px;
	padding-top: 10px;
}

header nav .navbar li{
	display: inline-block;
	margin: 0 15px;
}

header nav .navbar li a{
	color: #aaa;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
}

header nav .navbar li a:hover,
header nav .navbar li a:active,
header nav .navbar li a:focus{
	color: #585a5b;
}

header nav .navbar li.sign-up{
	line-height: 2;
	padding: 0 2em;
	background-color: #278998;
	border: 2px solid #278998;
	border-radius: 100px;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

header nav .navbar li.sign-up:hover,
header nav .navbar li.sign-up:active,
header nav .navbar li.sign-up:focus{
	background-color: #206f7c;
	border-color: #206f7c;
}

header nav .navbar li.sign-up a:active,
header nav .navbar li.sign-up a:focus{
	text-decoration: underline;
	outline: none;
}

header nav .navbar li.sign-up a{
	color: #fff;
	font-weight: 500;
}

/* FOOTER STYLES
-------------------------------------------------- */

footer{
	background: #2d3033;
	color: #a5a6a7;
	padding: 35px 0;
}

footer .left-container{
	display: inline-block;
	width: 45%;
	vertical-align: bottom;
}

footer .left-container a{
	color: #a5a6a7;
}

footer .left-container a:hover,
footer .left-container a:active,
footer .left-container a:focus{
	color: #fff;
	text-decoration: none;
}

footer .left-container .links-wrapper{
	margin-bottom: 65px;
}

footer .left-container .links-wrapper nav{
	display: inline-block;
	margin-right: 55%;
	vertical-align: middle;
}

footer .left-container .links-wrapper nav li:first-child{
	font-weight: 600;
}

footer .left-container .links-wrapper .social-media-links{
	display: inline-block;
	vertical-align: middle;
}

footer .left-container .links-wrapper .social-media-links span.fa-stack.fa-lg{
	margin-right: -3px;
}

footer .right-container{
	display: inline-block;
	width: 50%;
	margin-left: 2.5%;
	vertical-align: bottom;
	border-left: 1px solid #a5a6a7;
	padding-left: 50px;
}

footer .right-container img.logo{
	width: 300px;
	display: block;
	margin-bottom: 20px;
	background-color: rgba(255,255,255,0.7);
}